.pagination-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination__button {
  background-color: var(--white);
  border: 1px solid var(--light-grey);
  color: var(--dark-gray);
  padding: 5px 10px;
  margin: 0 2px;
  cursor: pointer;
}

.pagination__button:hover,
.pagination__button.active {
  color: var(--orange);
  border: 1px solid var(--orange);
}

.pagination__button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
