.pagination {
  display: flex;
  justify-content: center;
}

.pagination__button {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  color: #333;
  padding: 5px 10px;
  margin: 0 2px;
  cursor: pointer;
}

.pagination__button:hover,
.pagination__button.active {
  color: var(--orange);
  border: 1px solid var(--orange);
}

.pagination__button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
