.layout {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
}

.layout__cards__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  gap: 30px;
  padding-inline: 20em;
}

.layout__avatars {
  padding-block: 1em;
  background-color: var(--dark-gray);
}

.layout__avatars__items {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  padding-inline: 20em;
}

.layout__selected-characters {
  color: var(--white);
  display: flex;
  align-items: center;
  padding-inline: 20em;
  justify-content: space-between;
}

.layout__selected-characters__title {
  font-size: medium;
}

.layout__selected-characters__controls {
  display: flex;
  align-items: center;
  font-size: medium;
}

.layout__selected-characters__clear-button {
  background-color: var(--white);
  color: var(--black);
  border: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.layout__selected-characters__clear-button:hover {
  background-color: var(--dark-gray);
  color: var(--white);
}
