@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  /* colors */
  --red: #ed1d24;
  --cyan: #00ffff;
  --dark-grey: #555555;
  --light-grey: #cccccc;
  --dark-gray: #1a1a1a;
  --white: #ffffff;
  --black: #000000;
  --orange: #ffa500;
  --golden: #ffd700;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--black);
}
